{% extends "chatrooms/base.html" %}
{% load bootstrap5 %}
{% load static %}
{% block content %}
<div class="container">
    <div id="chat-log">
        {% for chat in chats.all %}
        {% if chat.user.id == request.user.id %}
        <div class="message sender">
            {{ chat.content }}
        </div>
        {% else %}
        <div class="message receiver">
            {{ chat.content }}
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

<div class="footer">
    <div class="message-input">
        <input class="textInput" id="chat-message-input" type="text" size="100">
        <input class="button" id="chat-message-submit" type="button" value="Send">
    </div>
    {{ room_name|json_script:"room-name" }}
</div>
{{ request.user.id|json_script:"user_id" }}
{% endblock %}
{% block extrajs %}
<script src="{% static 'room.js' %}">
    var chatLog = document.getElementById('chat-log');
    chatLog.scrollTop = chatLog.scrollHeight;
</script>
{% endblock %}
